body{
font-family: Arial;
background-color:#0a1a3f;
color:white;
text-align:center;
}

header{
background-color:#0a1a3f;
padding:20px;
}

h1{
color:gold;
}

nav a{
color:gold;
margin:10px;
text-decoration:none;
font-size:18px;
}

section{
padding:40px;
}

a{
background:gold;
color:black;
padding:10px;
border-radius:5px;
text-decoration:none;
}